{% extends "Pater.html" %}
{% load static %}
{% block content %}

        <!-- Header - set the background image for the header in the line below-->
        <header class="py-3 bg-image-full" style="background-image: url({% static 'assets/back.png' %})">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="{% static 'assets/logo.png' %}" alt="..." />
                <h1 class="text-black fs-3 fw-bolder">Resultados</h1>
            </div>
        </header> 

        <!-- Content section-->
        <br>
        <p>Todos los músicos:</p>
            
        <ul>        
        {%for Musician in Músicos %}
            <li>{{Musician}}</li>
            {% if user.is_authenticated %}
                <a class="btn btn-dark" href="{% url 'delmus' Musician.id %}">Eliminar</a>
                <a class="btn btn-dark" href="{% url 'edmus' Musician.id %}">Editar</a>
            {% else %}
            {% endif %}
        {% endfor %}
        
        </ul>
        {% if user.is_authenticated %}
            <a class="btn btn-dark" href="{% url 'formulario' %}">Cargar músico</a>
        {% else %}
        {% endif %}
        
        <a class="btn btn-dark" href="{% url 'buscar' %}">Buscar músico</a>    
        <br><br> 
{% endblock %}
