{% extends "Pater.html" %}
{% load static %}
{% block content %}
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-3 bg-image-full" style="background-image: url({% static 'assets/back.png' %})">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="{% static 'assets/logo.png' %}" alt="..." />
                <h1 class="text-black fs-3 fw-bolder">Sobre nosotros</h1>
            </div>
        </header>   
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h1>Los Creadores</h1><br>
                        <ul><h5>Agustín Ambrosi</h5></ul>
                        <p class="lead">Estudiante de programación y data science, músico y director de un ensamble. Soporte técnico en una empresa de software.</p>
                        <ul><h5>Agustín Hinterwimmer</h5></ul>
                        <p class="lead">Estudiantes de CoderHouse.</p>
                        <br>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
