{% extends "Pater.html" %}
{% load static %}
{% block content %}

        <!-- Header - set the background image for the header in the line below-->
        <header class="py-3 bg-image-full" style="background-image: url({% static 'assets/back.png' %})">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="{% static 'assets/logo.png' %}" alt="..." />
                <h1 class="text-black fs-3 fw-bolder">Blog</h1>
            </div>
        </header> 
        <h1>{{object.titulo}}</h1>
        <h3>{{object.subtitulo}}</h3><br>
        <div>{{object.cuerpo|safe}}</div><br>
        Autor: <em>{{object.autor.last_name}}, {{object.autor.first_name}}</em><br><br>
        {% if user.is_authenticated %}
            <a class="btn btn-dark" href="{% url 'editarb' object.id %}">Editar</a>
            <a class="btn btn-dark" href="{% url 'borrarb' object.id %}">Borrar</a>
        {% else %}
        {% endif %}
            <a class="btn btn-dark" href="{% url 'blog'%}">Volver</a><br><br>
{% endblock %}