{% extends "Pater.html" %}
{% load static %}
{% block content %}

        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url({% static 'assets/back.png' %})">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="{% static 'assets/logo.png' %}" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">Cancionero</h1>
                <p class="text-white-50 mb-0">Landing Page Template</p>
            </div>
        </header> 
        <h1>{{object.nombre}}</h1>
        <h5>Tono: {{object.tono}} <br>
        Acordes: {{object.acordes}}</h5>
    
        <p>{{object.letra}}</p>
        <p> <a href="{% url 'editar' object.id %}">Editar</a><br>
            <a href="{% url 'borrar' object.id %}">Borrar</a><br>
            <a href="{{object.link}}">Link</a><br>
            <a href="{% url 'cancion'%}">Volver</a></p>
{% endblock %}