{% extends "Pater.html" %}
{% load static %}
{% block content %}

        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." />
                <h1 class="text-white fs-3 fw-bolder">Editar Músico </h1>
                <p class="text-white-50 mb-0">Landing Page Template</p>
            </div>
        </header> 

        <!-- Content section-->

        {% if Form.errors %}

        <p><strong>Revise los datos ingresados.</strong></p>

        {% endif %}

        <form action="/musicy/musicos/editar/" method="POST">{% csrf_token %}
            <br>
            <table>
                {{ Formed.as_table }} 
            </table>
            <br>
        
            <input type="submit" value="Enviar">
            <br>
            
        </form>

        <!-- Image element - set the background image for the header in the line below-->
        <br>
        <div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">

            <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
            <div style="height: 20rem"></div>
        </div>

{% endblock %}
